<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>STOCK_QTY</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class ="container">
        <h4 align="center">STOCK_QTY</h4>

        <table class="table table-bordered">
      <thead>
        <tr>
          <th>ITEM_CODE</th>
          <th>NAME</th>
          <th>UNIT</th>
            <th>QTY</th>
        </tr>
      </thead>
      <tbody>
        {% for row in datas %}
        <tr>
          <td>{{row.0}}</td>
          <td>{{row.1}}</td>
          <td>{{row.2}}</td>
            <td>{{row.3}}</td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
    <a href="/" class="btn btn-primary">return to home page</a>
        </div>
    </body>
</html>