<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SJCGROUP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <meta name="viewport" content="width=device-width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  <!-- ถ้าไม่ใช้ Modal ไม่ทำงาน-->
    <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 <!--ใช้แล้ว Model ไม่ทำงาน   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <style>
        body {  color: black ;
            background-color: dimgray ;
        }
        </style>
<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <form class="container-fluid justify-content-start">
      <a href="/delivery_order" class="btn btn-outline-warning me-4" style="font-size: large" type="button" >ALL</a>
      <a href="/delivery_order_f201"  class="btn btn-outline-warning me-4" style="font-size: large" type="button">F201</a>
      <a href="/delivery_order_f202" class="btn btn-outline-warning me-4" style="font-size: large" type="button">F202</a>
      <a href="/delivery_order_f203" class="btn btn-outline-warning me-4" style="font-size: large" type="button">F203</a>
      <a href="/delivery_order_f204" class="btn btn-outline-warning me-4" style="font-size: large" type="button">F204</a>
      <a href="/delivery_order_f205" class="btn btn-outline-warning me-4" style="font-size: large" type="button">F205</a>
      <a href="/delivery_order_f206" class="btn btn-outline-warning me-4" style="font-size: large" type="button">F206</a>
      <a href="/delivery_order_f221" class="btn btn-outline-warning me-4" style="font-size: large" type="button">F221</a>
      <a href="/delivery_order_f241" class="btn btn-outline-warning me-4" style="font-size: large" type="button">F241</a>
    <a href="/do_report01" class="btn btn-sm btn-outline-secondary" type="button">report</a>
  </form>
</nav>



</head>
<body>

</body>
</html>